body {
  overflow: auto;
}

section.Caja {
  background-color: #8f6932;
  border: 2px solid black;

  z-index: 0; /*Indica cual está por ensima de cual, a mayor valor, más adelante estará*/

  position: absolute;
  top: 146px; /*indica el desplazamiento desde el borde superior de la caja hasta el borde superior del elemento contenedor que se utiliza como referencia.*/
  left: 8px; /*indica la distancia desde el borde izquierdo hasta el borde izquierdo del elemento*/

  height: 100px; /*Indica la altura de elemento, desde le borde superior hasta el inferior*/
  width: 100px;
  overflow: auto;
}
.SuperBarr {
  float: left;
  background-color: #cccccc;
  border: 2px solid black;
  width: 100%;
  left: 0px;
  height: 130px;
  display: inline_block;
  overflow: auto;
  position: fixed;
  top: 0px;
}
.CarcTec {
  float: left;
  display: inline_block;
  background-color: #cccccc;
  align-items: top;
  /*border: chocolate solid 3px;*/
  width: 120px;
  height: 70px;
  position: absolute;
}
#C1 {
  top: 0px;
  left: 0px;
}
#C2 {
  top: 0px;
  left: 126px;
}
#C3 {
  top: 0px;
  left: 253px;
}
#C4 {
  top: 0px;
  left: 379px;
}
/* INICIO Teclas de Movimiento	*/
#Ar {
  float: center;
}
#Ab
#D 
#I
/* FIN Teclas de Movimiento	*/


/* INICIO Teclas de altura	*/
.IndexDeBox {
  float: right;
  top: 10px;
  border: chocolate solid 3px;
}
/* FIN Teclas de altura	*/

#Coords {
  float: left;
  display: inline_block;
  background-color: #cccccc;
  width: 130px;
  height: 80px;
  overflow: auto;
  position: absolute;
  top: 0px;
  left: 505px;
}

#CantMov {
  float: left;
  display: inline_block;
  background-color: #cccccc;
  /*	border: 1px solid;*/
  width: 8%;
  /*height: 70px;*/
  overflow: auto;
}

.Contenedor {
  margin-top: 130px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 0px;
  border: 0px;
}
