@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body {
  overflow: auto;
}

section.Caja {
  background-color: #8f6932;
  border: 2px solid black;

  z-index: 0; /*Indica cual está por ensima de cual, a mayor valor, más adelante estará*/

  position: absolute;
  top: 146px; /*indica el desplazamiento desde el borde superior de la caja hasta el borde superior del elemento contenedor que se utiliza como referencia.*/
  left: 8px; /*indica la distancia desde el borde izquierdo hasta el borde izquierdo del elemento*/

  height: 100px; /*Indica la altura de elemento, desde le borde superior hasta el inferior*/
  width: 100px;
  overflow: auto;
}
.SuperBarr {
  float: left;
  /*background-color: #cccccc;*/
  background: linear-gradient(to left, #1f1f1f, #505050 99%);
  border: 2px solid black;
  width: 100%;
  left: 0px;
  height: 130px;
  display: inline_block;
  overflow-y: hidden;
  overflow-x: auto;
  position: fixed;
  top: 0px;
  visibility: visible;
}
.CarcTec {
  float: left;
  display: inline_block;
  background-color: transparent;
  align-items: top;

  border-top-left: #23ae48 solid 3px;
  width: 120px;
  height: 95%;
  position: absolute;
}
#C1 {
  top: 0px;
  left: 0px;
}
#C2 {
  top: 0px;
  left: 126px;
}
#C3 {
  top: 0px;
  left: 253px;
}
#C4 {
  top: 0px;
  left: 379px;
}
#L1 {
  position: fixed;
  top: 133px;
  right: 0px;
  width: 20px;
  height: 20px;
  /*border: #2bad5d solid 3px;*/
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#ocultator {
  margin: 0px;
  border: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
#L1 span {
  position: absolute;
  margin: 0px;
  border: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: #c3c3c3;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  visibility: visible;
}
/*
#L1 #ocultator:checked ~ span {
  background-color: #2bad5d;
  visibility: hidden;
}
*/
#L1 span #flecha {
  position: absolute;
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-size: 1.5em;
  color: #4b4b4b;
}
/* INICIO Teclas de Movimiento	*/
#Ar {
  float: center;
}
#Ab
#D 
#I
/* FIN Teclas de Movimiento	*/


/* INICIO Teclas de altura	*/
.IndexDeBox {
  float: right;
  top: 10px;
  border: chocolate solid 3px;
}
/* FIN Teclas de altura	*/

#Coords {
  float: left;
  display: inline_block;
  background-color: transparent;
  width: 130px;
  overflow: auto;
  position: absolute;
  top: 0px;
  left: 505px;
}

#CantMov {
  float: left;
  display: inline_block;
  background-color: #cccccc;
  /*	border: 1px solid;*/
  width: 8%;
  /*height: 70px;*/
  overflow: auto;
}

.Contenedor {
  margin-top: 130px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 0px;
  border: 0px;
}
